{% extends "layout.html" %}
{% block content %}
     <form>
                                    <div>
                                        <div class="ContactHeadingText__Padding-zzdmhw-0 jnaZXn">
                                            <p class="ContactHeadingText__HeadingText-zzdmhw-1 rquVO">お客様情報</>
                                        </div>
                                        <div class="ContactFormUserInfo__Grid-sc-849l8l-0 iMuHU">
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                    <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                        <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">会社名</p>
                                                        <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                            <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" required="" name="company" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                    <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                        <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">部署名</p>
                                                        <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                            <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" required="" name="department" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                    <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">役職</p>
                                                </div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" name="position" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                    <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                        <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">氏名</p>
                                                        <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                            <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" required="" name="name" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                    <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">所在地</p>
                                                </div>
                                            </div>
                                            <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                <div class="ContactFormUserInfo__Grid-sc-849l8l-0 iMuHU">
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                            <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                                <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">郵便番号</p>
                                                                <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                                    <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="number" required="" name="postalCode" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                                    </div>
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                            <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                                <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">都道府県</p>
                                                                <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                                    <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" required="" name="prefectures" value="" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                                    </div>
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 xDkEB">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD">
                                                            <div class="ContactFormUserInfo__ElementHeading-sc-849l8l-4 bTXXAW">
                                                                <p class="ContactFormUserInfo__HeadingName-sc-849l8l-5 ikKxWG">市区町村番地</p>
                                                                <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                                    <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="ContactFormUserInfo__GridItem-sc-849l8l-1 geSwjW">
                                                        <div class="ContactFormUserInfo__Padding-sc-849l8l-2 htUBtD"><input type="text" required="" name="cityAddress" value="" class="ContactFormUserInfo__Input-sc-849l8l-3 fjUfCV" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                    <div>
                                        <div class="ContactHeadingText__Padding-zzdmhw-0 jnaZXn">
                                            <p class="ContactHeadingText__HeadingText-zzdmhw-1 rquVO">お問い合わせ内容</p>
                                        </div>
                                        <div class="ContactFormContent__Grid-sc-4ykkjl-1 HGvDF">
                                            <p>お問い合わせの詳しい内容をご入力ください。</p>
                                            <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                            </div>
                                        </div><textarea required="" class="ContactFormContent__TextArea-sc-4ykkjl-0 jqhYLC"></textarea>
                                    </div>
                       
                                    <div>
                                        <div class="ContactHeadingText__Padding-zzdmhw-0 jnaZXn">
                                            <p class="ContactHeadingText__HeadingText-zzdmhw-1 rquVO">アンケート</p>
                                        </div>

                                   <p>性別</p> <select name="pulldown_name">
                                        <option>1.男性</option>
                                        <option>2.女性</option>
                                        <option>3.無回答</option>
                                    </select>
                                    
                                        <div class="ContactFormQuestionnaire__Grid-sc-1diuzcc-0 gZNkCS">
                                            <p>どんな職種ですか</p><input type="text" name="occupation" class="ContactFormQuestionnaire__TextInput-sc-1diuzcc-2 kFTFen" />
                                            <p>弊社を知ったきっかけ</p>
                                            <div class="ContactFormQuestionnaire__RadioButtonGrid-sc-1diuzcc-3 fDpHYa"><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ"><input type="radio" value="ご紹介" />ご紹介</label><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ"><input type="radio" value="営業担当の紹介" />営業担当の紹介</label><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ"><input type="radio" value="雑誌" />雑誌</label><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ">
                                            	<input type="radio" value="展示会" />展示会</label><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ"><input type="radio" value="チラシ" />チラシ</label><label class="ContactFormQuestionnaire__Label-sc-1diuzcc-1 vASiJ"><input type="radio" value="インターネット" />インターネット</label></div>
                                        </div>
                                    </div>



                                    <div>
                                        <div class="ContactHeadingText__Padding-zzdmhw-0 jnaZXn">
                                            <p class="ContactHeadingText__HeadingText-zzdmhw-1 rquVO">個人情報保護方針</p>
                                        </div>
                                        <p><span>お問い合わせに際しては「</span><span><a href="/contact/privacy-policy" target="_blank" class="ContactFormConsent__TextLink-sc-16v7j6-0 bUTujT">個人情報保護方針</a></span><span>」、「</span><span><a href="/contact/handling-of-personal-information" target="_blank" class="ContactFormConsent__TextLink-sc-16v7j6-0 bUTujT">個人情報の取扱について</a></span><span>」、「</span><span><a href="/contact/handling-of-personal-info-for-contact-form" target="_blank" class="ContactFormConsent__TextLink-sc-16v7j6-0 bUTujT">当社ホームページよりご送信いただく個人情報の取扱について</a></span><span>」をご確認のうえご同意ください。</span></p>
                                        <div class="ContactFormConsent__Grid-sc-16v7j6-1 cXYanb"><label><input type="checkbox" required="" />同意する</label>
                                            <div class="RequiredIndicator__Wrapper-pqtneb-0 hqjInG">
                                                <p class="RequiredIndicator__Space-pqtneb-1 kMyllM"></p><span class="RequiredIndicator__Indicator-pqtneb-2 meacm">必須</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact__SubmitWrapper-sc-9c9mck-3 chLni">
                                    	<input  onclick="location.href='{{url_for('hello_function', page_name='page2')}}'" value="確認画面へ" class="contact__Submit-sc-9c9mck-4 lfQhbK" />
                                    </div>
                                </form>
{% endblock %}